
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}
.container h2 {
    text-align: center;
}

.container h1 {
    text-align: center;
    position: relative;
    right: -210px;
    font-size: 30xp;
    letter-spacing: 20px;
}
.container a {
    text-decoration: none;
    color:#333;
    
}
.container a:visited {
    text-decoration: none;
    color:#333;
}


header {
    background-color: #444;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    float: left;
    margin-left: 20px;
    font-size: 1.8rem;
}

header nav {
    float: right;
    margin-right: 20px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    background: url('back1.png') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px; /* Odstęp na nagłówek */
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
}
.about {
    padding: 60px 0;
    text-align: center;
    background-color: #fff;
}

.about img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.services {
    background-color: #e2e2e2;
    padding: 60px 0;
}

.services .service-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services .service-item {
    background: #fff;
    padding: 20px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.services .service-item h3 {
    margin-bottom: 15px;
    color: #333;
}

.services .service-item p {
    color: #666;
}
.contact {
    padding: 60px 0;
    text-align: center;
}

.contact p {
    margin-bottom: 10px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}


@media (max-width: 768px) {
    header h1, header nav {
        float: none;
        text-align: center;
        margin: 10px 0;
    }

    .services .service-item {
        width: 100%;
        margin-bottom: 20px;
    }
}
